@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .layout {
    padding: 25px;
  }

  .layout .immigration {
    margin-bottom: 20px;
  }

  .layout .immigration,
  .layout .areas {
    position: relative;
    width: 100%;
    top: 0;
    box-shadow: none;
  }

  .expertise .cards {
    flex-wrap: wrap;
  }

  .expertise .cards .card {
    width: 400px;
    margin: 20px 0;
  }

  .immigration-sec .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .immigration-sec .container > div {
    width: 100%;
  }

  .immigration-sec .video {
    margin-top: 50px;
    top: 0;
  }

  .empowerment .cards .card:last-of-type {
    width: 820px;
  }

  .first-step .container .img {
    display: none;
  }

  .immigratIoninsights .cards {
    flex-wrap: wrap;
  }
  
  .immigratIoninsights .cards .card {
    width: 400px;
    margin: 20px 0;
  }

  .hr {
    display: none;
  }

  .contact .co-so {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .contact .co-fo {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
  }
}